<body>
    <div id="home">
        <div id="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Actual Malware's Mixology App</h1>
                    <div class="row">
                        <nav class="navbar navbar-light">
                            <form class="form-inline">
                                <div class="col-md-6"><input class="form-control mr-md-6" type="search"
                                        placeholder="Search for A Recipe" aria-label="recipeSearch" id="recipeSearch">
                                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit"
                                        id="recSrchBtn">Search</button></div>
                                <div class="col-md-6"><input class="form-control mr-md-6" type="search"
                                        placeholder="Search by Ingredients" aria-label="ingSearch" id="ingSearch">
                                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit"
                                        id="ingSrchBtn">Search</button></div>
                            </form>
                            <div class="row">
                                <div class="col-md-12"><button type="button" class="btn btn-light"><a href="/"
                                            class="text-decoration-none">Sign Up or Login</a></button>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Ingredients</h4>
                        </div>
                        <img src="..." class="card-img-top" alt="...">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Video</h4>
                        </div>
                        <img src="..." class="card-img-top" alt="...">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Instructions</h4>
                        </div>
                        <img src="..." class="card-img-top" alt="...">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>