<div id="home">
    <div id="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Actual Malware's Mixology App</h1>
                <div class="row">
                    <nav class="navbar navbar-light">
                        <form class="form-inline" action="api/new/cocktail" method=POST>
                            <input class="form-control mr-md-6" type="search" placeholder="Search for A Drink"
                                aria-label="Search" id="drinkSearch">
                            <button class="btn btn-outline-light my-2 my-md6" type="submit"
                                id="drinkSearchBtn">Search</button>
                        </form>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" id="drinks-container">

        {{#each drinks}}
        {{#unless this.drunk}}

        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="movie-box">
            <div class="box gallery">
                <div class="card">
                    <img class="img-responsive" id="new-drinks" src={{this.drink_image}}>
                    <a onClick="modalDisplay({{@index}})" href="#" class="overlay link"
                        id="trigger-modal{{@index}}"></a>
                    <div class="info">
                        <div class="foot">
                            <p class="drink-title">{{this.drink_name}}</p>
                            <i class="line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>