<div id="home">
    <div id="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Actual Malware's Mixology App</h1>
                <div class="row">
                    <nav class="navbar navbar-light">
                        <form class="form-inline" action-"/api/new/cocktail" method=POST>
                            <div class="col-md-6"><input class="form-control mr-md-6" type="search"
                                    placeholder="Search for A Recipe" aria-label="recipeSearch" id="recipeSearch">
                                <button class="btn btn-outline-light my-2 my-sm-0" type="submit"
                                    id="recSrchBtn">Search</button></div>
                        </form>
                        <div class="row">
                            <div class="col-md-12"><button type="button" class="btn btn-light"><a href="/">Sign Up or
                                        Login</a></button>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>