<h1>BUCKA</h1>
<div id="home">
    <div id="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Actual Malware's Mixology App</h1>
                <div class="row">
                    <nav class="navbar navbar-light">
                        <form class="form-inline" action="api/new/cocktail" method=POST>
                            <input class="form-control mr-md-6" type="search" placeholder="Search for A Drink"
                                aria-label="Search" id="drinkSearch">
                            <button class="btn btn-outline-light my-2 my-md6" type="submit"
                                id="drinkSearchBtn">Search</button>
                        </form>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>