<div id="home">
    <div id="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Drinking Well</h1>
                <h3>There's No Fixer Like A Mixer</h3>
                <h2>Profile</h2>
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-inline">
                            <input class="form-control mr-md-6" type="search" placeholder="Search for A Drink"
                                aria-label="Search" id="drinkSearch">
                            <button class="btn btn-outline-light my-2 my-md-6" type="submit"
                                id="drinkSearchBtn">Search</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form class="form-inline">
                            <button class="btn btn-outline-light my-2 my-md-6" type="submit" id="randomDrinkBtn">Random
                                Drink</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>