<div id="home">
    <div id="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Actual Malware's Mixology App</h1>
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-inline">
                            <input class="form-control mr-md-6" type="search" placeholder="Search for A Drink"
                                aria-label="Search" id="drinkSearch">
                            <button class="btn btn-outline-light my-2 my-md-6" type="submit"
                                id="drinkSearchBtn">Search</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form class="form-inline">
                            <input class="form-control mr-md-6" type="search" placeholder="Random Drink"
                                aria-label="Search" id="drinkSearch">
                            <button class="btn btn-outline-light my-2 my-md-6" type="submit" id="randomDrinkBtn">Random
                                Drink</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button class="btn btn-outline-light my-2 my-md6" type="submit" id="signupBtn"><a
                                href="/profiles">Profile</a></button>
                        <button class="btn btn-outline-light my-2 my-md6" type="submit" id="loginBtn"><a
                                href="/">Main Page</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Sign Up Successful!</h2>
        </div>
    </div>
</div>