<body>
    <div id="home">
        <div id="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Actual Malware's Mixology App</h1>
                </div>
            </div>
        </div>
        <div class="container">

        </div>
    </div>
</body>